<div class="row">
  
	<div class="col-xs-12 col-sm-6 col-md-8 header-container">
		<img ng-src="img/logo-50px.png" alt="logo image">
		<h1>ISP HackerEarth <small>&#8213; searching ISP made easy!</small></h1>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-3 isp-count-container">
		<div class="panel panel-body">
			Total ISP:<strong>{{$ctrl.totalIsp}}</strong>  &nbsp; <strong>|</strong> &nbsp;
			API Hits: <strong>{{$ctrl.totalApiHits}}</strong>
		</div>
	</div>
	
</div>

<div class="row">
	
  <div class="col-xs-12 col-sm-6 col-md-6 isp-list-container">
		
		<!-- home and search -->
		<div class="row">
			
			<div class="col-sm-8 col-md-4 isp-home">
				<img ng-src="img/home.png" class="img-responsive" alt="Home">
				<h3>Home</h3>
			</div>
			
			<div class="col-sm-12 col-md-8 isp-search">
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
					<input ng-focus="$ctrl.toggleDisplay(true)" ng-blur="$ctrl.toggleDisplay(false)"
								 type="text" class="form-control" aria-label="..." placeholder="Search (by ISP name, price, rating)">
					<span ng-show=$ctrl.displayCross class="input-group-addon"><i class="glyphicon glyphicon-remove-circle"></i></span>
				</div>
			</div>
			
		</div>
		
		<div class="row">
			
			<div class="col-sm-12 col-md-12 isp-list">
				<div isps></div>
			</div>
			
		</div>
		
		<div class="row">
			
			<div class="col-xs-12 col-sm-12 col-md-12 col-md-offset-2 sort-container">
			`	
				<div class="col-md-4 sort-by-label">
					<img ng-src="img/sort-20px.png" alt="Database" class="img-responsive sort-icon">
					<span class="sort-label">SORT BY</span>
				</div>
				
				<div class="col-md-4 sort-radio-btn">
					<input type="radio" value="price" ng-model="$ctrl.ordrByProp" class="price-radio">&nbsp;PRICE
					<input type="radio" value="rating" ng-model="$ctrl.ordrByProp" class="rating-radio">&nbsp;RATING
				</div>
				
			</div>
			
		</div>
		
	</div>
	
	<div class="col-xs-12 col-sm-6 col-md-6">
		
		<div class="row">
			
			<div class="col-md-6 isp-detail-image">
				<div class="thumbnail">
					<img ng-src="{{$ctrl.isp.image}}" alt="{{$ctrl.isp.name}}" class="img-responsive">
				</div>
			</div>
			
			<div class="col-md-6 isp-detail-list">
				
				<div class="panel panel-default">
					<!-- Default panel contents -->
					<div class="panel-heading"><strong>{{$ctrl.isp.name}}</strong></div>
					
					<!-- List group -->
					<ul class="list-group">
						
						<li class="list-group-item">
							<img ng-src="img/wifi-20px.png" alt="wifi" class="img-responsive">
							&nbsp;&nbsp;Max. Speed. {{$ctrl.isp.maxSpeed}}
						</li>
						<li class="list-group-item">
							<img ng-src="img/phone-20px.png" alt="phone" class="img-responsive">
							&nbsp;&nbsp;&nbsp;{{$ctrl.isp.contactNo}}
						</li>
						<li class="list-group-item">
							<img ng-src="img/email-20px.png" alt="email" class="img-responsive">
							&nbsp;{{$ctrl.isp.email}}
						</li>
						<li class="list-group-item">
							<img ng-src="img/money-20px.png" alt="money" class="img-responsive">
							&nbsp;&nbsp;&nbsp;Min. Plan. {{$ctrl.isp.lowestPrice}}
						</li>
						
					</ul>
					
				</div>
				
			</div>
						
		</div>
		
		<div class="row">
			
			<div class="col-md-8 isp-rating-list">
				<h3 class="pull-left">Rating: </h3>
				<div star rating-value="$ctrl.isp.rating" max="5"></div>
			</div>
			
		</div>
		
		<div class="row">
			
			<div class="col-md-12 isp-description-container">
				<div class="well">
					{{$ctrl.isp.description}}
				</div>
			</div>
			
		</div>
		
		<div class="row">
			
			<div class="col-md-4 isp-link-btn-container">
				<button type="button" class="btn btn-default btn-lg btn-block" ng-click="$ctrl.link($ctrl.isp.url)" >
					<span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp;Link
				</button>
			</div>
			
			<div class="col-md-4 isp-share-btn-container">
				<button type="button" class="btn btn-default btn-lg btn-block" ng-click="$ctrl.share()"
								data-toggle="modal" data-target="#myModal">
					<span class="glyphicon glyphicon-share" aria-hidden="true"></span>&nbsp;Share
				</button>
			</div>
			
			<div class="modal fade" id="myModal" role="dialog">
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">SHARE</h4>
						</div>
						<div class="modal-body">
							
							<div class="list-group">
								<a ng-href="https://facebook.com/sharer.php?u=https://github.com/atingithub/providers-isp"
									 class="list-group-item">
									<img ng-src="img/facebook-25px.png" alt="facebook">
									Facebook</a>
								<a ng-href="https://twitter.com/intent/tweet?text={{pageTitleUri}}'%20'{{pageLink}}"
									 class="list-group-item">
									<img ng-src="img/twitter-25px.png" alt="twitter">
									Twitter</a>
								<a ng-href="https://plus.google.com/share?url={{pageLink}}"
									 class="list-group-item">
									<img ng-src="img/google-plus-25px.png" alt="google-plus">
									Google+</a>
								<a ng-href="https://www.linkedin.com/shareArticle?mini=true&url={{pageLink}}&title={{pageTitleUri}}"
									 class="list-group-item">
									<img ng-src="img/linkedin-25px.png" alt="linkedin">
									Linked In</a>
								<a ng-href="#" class="list-group-item">
									<img ng-src="img/pinterest-25px.png" alt="pinterest">
									Pinterest</a>
								<a ng-href="#" class="list-group-item">
									<img ng-src="img/tumbler-25px.png" alt="tumblr">
									Tumblr</a>
							</div>
							 
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>

				</div>
  		</div>
			
			
			<div class="col-md-4 isp-download-btn-container">
				<button type="button" class="btn btn-default btn-lg btn-block" ng-click="$ctrl.download($ctrl.isp.id)">
					<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>&nbsp;Download
				</button>
			</div>
			
		</div>
		
	</div>
	
</div>

