<!-- header -->
<div class="row">
  
	<div class="col-xs-12 col-sm-6 col-md-8">
		<h1 id="header"><i class="fa fa-houzz fa-2x" style=" vertical-align: middle;"></i> &nbsp;ISP HackerEarth <small>&#8213; searching ISP made easy!</small></h1>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-3">
		<div id="imaginary_container"> 
			<div class="input-group stylish-input-group panel-top">
				<span class="input-group-addon">Total ISP: {{$ctrl.totalIsp}}</span>
				<span class="input-group-addon">API Hits: {{$ctrl.totalApiHits}}</span>
			</div>
		</div>
	</div>
	
</div>



<div class="row">
	
  <div class="col-xs-12 col-sm-6 col-md-6 isp-list-container">
		
		<!-- sort and search -->
		<div class="row">
			
			<div class="col-xs-12 col-sm-12 col-md-6 isp-search">
				
				<div id="imaginary_container"> 
					<div class="input-group stylish-input-group">
						<span class="input-group-addon"><button type="submit"><i class="fa fa-search"></i></button></span>
						<input ng-model="$ctrl.query" type="text" class="form-control" placeholder="Search (by ISP name, price, rating)" >
					</div>
				</div>
				
			</div>
			
			<div class="col-xs-12 col-sm-12 col-md-6 isp-sort">
				
				<div id="imaginary_container"> 
					<div class="input-group stylish-input-group">
						<span class="input-group-addon"><span class="fa fa-sort-alpha-asc"></span><span class="sort-label">&nbsp; Sort by</span></span>
						<span class="input-group-addon">
							<label class="radio-inline">
								<input type="radio" value="price" ng-model="$ctrl.orderByProp" class="price-radio">&nbsp;Price</label>
							<label class="radio-inline">
								<input type="radio" value="rating" ng-model="$ctrl.orderByProp" class="rating-radio">&nbsp;Rating</label>
						</span>
						
					</div>
				</div>
				
			</div>
			
		</div>

		<div class="row">
			
			<div class="col-sm-12 col-md-12 isp-list">
				<div class="list-group">
					<a ng-click="$ctrl.setDataDetails(isp.id)"
						 ng-repeat="isp in $ctrl.isps | filter:$ctrl.query | orderBy : $ctrl.orderByProp" class="list-group-item isp-list-item">
						<span class="fa fa-database"></span>
						<span>{{isp.name}}</span>
						<span class="pull-right">&#x20b9;{{isp.lowestPrice}}&nbsp; &rsaquo;</span>
					</a>
				</div>
			</div>
			
		</div>
		
	</div>
	
	<div class="col-xs-12 col-sm-6 col-md-6">
		
		<div class="row">
			
			<div class="col-sm-12 col-md-6 isp-detail-image">
				<div class="thumbnail">
					<img align="center" ng-src="{{$ctrl.isp.image}}" alt="{{$ctrl.isp.name}}" class="img-responsive">
				</div>
			</div>
			
			<div class="col-sm-12 col-md-6 isp-detail-list">
				
				<div class="panel panel-default">
					
					<div class="panel-heading"><strong>{{$ctrl.isp.name}}</strong></div>
					
					<table class="table">
						<tbody>
							<tr>
								<td align="center"><i class="fa fa-wifi fa-2x"></i></td>
								<td>Max. Speed. {{$ctrl.isp.maxSpeed}}</td>
							</tr>
							<tr>
								<td align="center"><i class="fa fa-phone fa-2x"></i></td>
								<td>{{$ctrl.isp.contactNo}}</td>
							</tr>
							<tr>
								<td align="center"><i class="fa fa-envelope-o fa-2x"></i></td>
								<td>{{$ctrl.isp.email}}</td>
							</tr>
							<tr>
								<td align="center"><i class="fa fa-inr fa-2x"></i></td>
								<td>Min. Plan. {{$ctrl.isp.lowestPrice}}</td>
							</tr>
						</tbody>
					</table>
					
				</div>
				
			</div>
						
		</div>
		
		
		<div class="row">
			
			<div class="col-md-8 rating-container">
				<h3 class="pull-left">Rating: </h3>
				<span star rating-value="$ctrl.isp.rating" max="5"></span>
			</div>
			
		</div>
		
		<div class="row">
			
			<div class="col-md-12 description-container">
				<div class="panel panel-primary">
  				<div class="panel-body fixed-panel">{{$ctrl.isp.description}}</div>
				</div>
			</div>
			
		</div>
		
		<div class="row">
			
			<div class="col-md-4 isp-link-btn-container">
				<button type="button" class="btn btn-default btn-lg btn-block" ng-click="$ctrl.link($ctrl.isp.url)" >
					<i class="fa fa-link"></i>&nbsp;Link
				</button>
			</div>
			
			<div class="col-md-4 isp-share-btn-container">
				<button type="button" class="btn btn-default btn-lg btn-block"
								data-toggle="modal" data-target="#myModal">
					<i class="fa fa-share-square"></i>&nbsp;Share
				</button>
			</div>
			
			<div class="modal fade" id="myModal" role="dialog">
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">SHARE</h4>
						</div>
						<div class="modal-body">
							
							<div class="list-group">
								
								<li class="list-group-item">
									<button type="button" class="btn btn-link btn-block" ng-click="$ctrl.share('Facebook')">
										<i class="fa fa-facebook-official fa-2x" style=" vertical-align: middle;"></i> &nbsp;Facebook
									</button>
								</li>
  							<li class="list-group-item">
									<button type="button" class="btn btn-link btn-block" ng-click="$ctrl.share('Twitter')">
										<i class="fa fa-twitter fa-2x" style=" vertical-align: middle;"></i> &nbsp;Twitter
									</button>
								</li>
  							<li class="list-group-item">
									<button type="button" class="btn btn-link btn-block" ng-click="$ctrl.share('Google')">
										<i class="fa fa-google-plus fa-2x" style=" vertical-align: middle;"></i> &nbsp;Google
									</button>
								</li>
								<li class="list-group-item">
									<button type="button" class="btn btn-link btn-block" ng-click="$ctrl.share('LinkedIn')">
										<i class="fa fa-linkedin-square fa-2x" style=" vertical-align: middle;"></i>&nbsp; Linked In
									</button>
								</li>

							</div>
							 
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>

				</div>
  		</div>
			
			
			<div class="col-md-4 isp-download-btn-container">
				<button type="button" class="btn btn-default btn-lg btn-block" ng-click="$ctrl.download($ctrl.isp.id)">
					<i class="fa fa-cloud-download"></i>&nbsp;Download
				</button>
			</div>
			
		</div>
		
	</div>
	
</div>

