.fa-houzz {
	color: purple;
}

#header {
	color : darkred;
}

.panel {
	padding-bottom: 0px;
}

.panel-top {
	margin-top : 10px;
	padding: 5px 5px 5px 5px;
	background-color: gray;
	border-radius: 2px;
}

.isp-count-container {
	text-align: center;
	border: 2px solid darkgray;
	border-radius: 2px;
}

.isp-count-container .panel-body {
	padding-top: 5px;
	padding-bottom: 5px;
}

.stylish-input-group .input-group-addon{
  background: white;
}

.stylish-input-group .form-control{
	border-left:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}

.stylish-input-group button{
    border:0px;
    background:transparent;
}

.stylish-input-group .radio-inline{
	margin-top: 3px;
	margin-bottom: 3px;
}

.isp-search, .isp-sort {
	margin-top: 5px;
}

.isp-list {
	margin-top: 10px;
	margin-bottom: 5px;
}

.isp-list-item {
	margin-bottom: 3px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.isp-detail-image {
	text-align: center;
}

.isp-detail-list .panel-heading {
	font-size: 20px;
	text-align: center;
}

.table {
	border-collapse: separate;
}

.table > tbody > tr > td {
	vertical-align: middle;
	padding-top: 10px;
	padding-bottom: 10px;
}

.rating-container h3 {
	margin-top: 5px;
}

.rating {
	font-size : 200%;
}

.rating .filled {
  color: darkgoldenrod;
}

.panel-primary {
	height: 115px;
	margin-bottom: 0px;
}

.fixed-panel {
  padding-bottom: 10px;
}


.isp-link-btn-container .btn {
	margin-top: 10px;
	color: cadetblue;
	border: 2px solid;
}

.isp-share-btn-container .btn {
	margin-top: 10px;
	color: cadetblue;
	border: 2px solid;
}

.isp-download-btn-container .btn {
	margin-top: 10px;
	margin-bottom: 10px;
	color: cadetblue;
	border: 2px solid;
}

a{text-decoration: none !important}

.fa-search {
	color: gainsboro;
}

.fa-facebook-official {
	color: #3b5999;
}

.fa-twitter {
	color: #55acee;
}

.fa-google-plus {
	color: #dd4b39;
}

.fa-linkedin-square {
	color: #0077B5;
}

.fa-pinterest {
	color: #bd081c;
}

.fa-tumblr-square {
	color: #34465d;
}

.fa-youtube-play {
	color: #cd201f;
}

::-webkit-scrollbar { 
    display: none; 
}